<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form action="/books/update/<%= id %>" method="post" name="form1">
      <div class="form-group">
      </div><label for="exampleInputName">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        value="<%= name %>"
        placeholder="Name"
      />
    </div>
    <div class="form-group mt-3">
      <label for="exampleInputDate">Date</label>
      <input
        type="date"
        name="date"
        class="form-control"
        id="date"
        aria-describedby="emailHelp"
        placeholder="Enter date"
        value="<%= date %>"
      />
    <div class="form-group mt-3">
      <label for="exampleInputAmount">Amount</label>
      <input
        type="number"
        name="amount"
        class="form-control"
        id="amount"
        aria-describedby="emailHelp"
        placeholder="Enter amount"
        value="<%= amount %>"
      />
    <div class="form-group mt-3">
      <label for="exampleInputSubject">Subject</label>
      <input
        type="text"
        name="subject"
        class="form-control"
        id="subject"
        aria-describedby="emailHelp"
        placeholder="Enter subject"
        value="<%= subject %>"
      />
      <button type="submit" class="btn btn-info mt-3">Update</button>
    </form>
  </body>
</html>
